/PP_Ficha_3/nbproject/private/
/PP_Ficha_3/build/
/PP_Ficha_4/nbproject/private/
/PP_Ficha_4/build/
/PP_Ficha_4/dist/
/PP_Ficha_5/nbproject/private/
/PP_Ficha_5/build/
/PP_Ficha_6/nbproject/private/
/PP_Ficha_6/build/
/PP_Ficha 7/nbproject/private/
/PP_Ficha 7/build/
/PP_Ficha 7 parte2/nbproject/private/
/PP_Ficha_8/nbproject/private/
/PP_Ficha_7 parte2/nbproject/private/
/PP_Ficha_7 Parte 1/nbproject/private/
/PP_Ficha_7 Parte 1/build/
/PP_Ficha_9/nbproject/private/
